.cont-header{
    background: #ff1751!important;  
}

.cont-header-tab1{
    --background: #ff1751!important; 
    width: 90%;
    margin: 0 auto;
   
}

.cont-main{
    --background: #993cde;
    --background: linear-gradient(132deg, #993cde 0%, #eb3076 41%, #f74042 66%, #ff6744 100%);
}

.cont-nav{
    height: 45px;
    width: 175px;
    background-image: url('../assets/img/virtualizarme.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.hex{
    height: 60px;
    width: 40%;
    background-image: url('../assets/img/unnamed.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    filter: brightness(500%);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}